<div class="name"><a href="/">Michael Malick</a></div>
<div class="sideinfo">
  Quantitative Ecologist
  <br>
  NOAA Fisheries
  <br>
  <a href="https://scholar.google.com/citations?user=98VPn3kAAAAJ"
     target="_blank" rel="noopener" aria-label="Google Scholar">
    {{ readFile "static/images/googlescholar.svg" | safeHTML }}
  </a>
  <a href="https://github.com/michaelmalick-noaa"
     target="_blank" rel="noopener" aria-label="GitHub">
    {{ readFile "static/images/github.svg" | safeHTML }}
  </a>
  <a href="https://orcid.org/0000-0002-8376-5476"
     target="_blank" rel="noopener" aria-label="ORCiD">
    {{ readFile "static/images/orcid.svg" | safeHTML }}
  </a>
  <a href="mailto:michael.malick@noaa.gov" aria-label="Email">
    {{ readFile "static/images/email.svg" | safeHTML }}
  </a>
</div>
