<div class="name"><a href="/">Michael Malick</a></div>
<div class="sideinfo">
  Quantitative Ecologist
  <br>
  NOAA Fisheries
  <br>
  <a href="https://scholar.google.com/citations?user=98VPn3kAAAAJ" target="_blank" rel="noopener">
    <img class="img_sidelink" src="/images/google-grey.png" alt="Google Scholar"></a>
  <a href="https://github.com/michaelmalick" target="_blank" rel="noopener">
    <img class="img_sidelink" src="/images/github-grey.png" alt="GitHub"></a>
  <a href="https://orcid.org/0000-0002-8376-5476" target="_blank" rel="noopener">
    <img class="img_sidelink" src="/images/orcid-grey.png" alt="ORCiD"></a>
</div>
