<div class=name> <a href="/">Michael Malick</a></div>
<div class = sideinfo>
  Ph.D. Candidate
  </br>
  Simon Fraser Univeristy
  </br>
  <a href="mailto:mmalick@sfu.ca">mmalick@sfu.ca</a>
  </br>
  <a href="http://www.twitter.com/michaelmalick">
    <img src="/images/tw-grey.png" alt="Twtr" width="20px" align="left"/></a>
  <a href="http://www.github.com/michaelmalick">
    <img src="/images/github-grey.png" alt="GitHub" width="20px" align="left"/></a>
  <a href="https://scholar.google.com/citations?user=98VPn3kAAAAJ&hl">
    <img src="/images/google-grey.png" alt="Google Scholar" width="20px" align="left"/></a>
</div>
