<div class=name> <a href="/">Michael Malick</a></div>
<div class = sideinfo>
  Postdoctoral Researcher
  </br>
  NOAA Fisheries
  </br>
  <a href="mailto:mjm@michaelmalick.com">mjm@michaelmalick.com</a>
  </br>
  <a href="http://www.twitter.com/michaelmalick">
    <img src="/images/tw-grey.png" alt="Twtr" width="20px" align="left"/></a>
  <a href="http://www.github.com/michaelmalick">
    <img src="/images/github-grey.png" alt="GitHub" width="20px" align="left"/></a>
  <a href="https://scholar.google.com/citations?user=98VPn3kAAAAJ&hl">
    <img src="/images/google-grey.png" alt="Google Scholar" width="20px" align="left"/></a>
  <a href=" https://orcid.org/0000-0002-8376-5476">
    <img src="/images/orcid-grey.png" alt="ORCiD" width="20px" align="left"/></a>
</div>
