/* CSS FOR MY PHD RESEARCH WEBSITE
   MICHAEL MALICK
   UPDATED: 19 Jul 2013
*/

/* Main Color Scheme:
    - Body Text:  #555555
    - Headers:    #4A525A
    - Links:      #888888
    - Link Hover: #0099EE
    - Side Bar:   #0099EE
    - Blog Title: #0099EE
*/


/* IMPORT GOOGLE FONTS -------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);


/* BODY ----------------------------------------------------------------------*/
body {
    font-family: Verdana, Geneva, sans-serif;
    color: #555555;
    font-size: 18px;
    background-color:#FFFFFF;
}

/* IMAGES --------------------------------------------------------------------*/
img {
    display: block; 
    margin-left: auto;
    margin-right: auto
}

/* HEADERS -------------------------------------------------------------------*/
h1, h2, h3, h4, h5 {
    color: #4A525A;
    font-weight: 400;
    font-family: Lato, "Helvetica Neue", Helvetica, sans-serif; 
}
h1, h2, h3, h4, h5 {
    margin-bottom: 18px;
    margin-top: 12px;
    padding: 0;
}
h1 {
    font-size: 36px;
    margin-top: 6px;
}
h2 {
    font-size: 28px;
    margin-top: 60px;
}
h3 {
    font-size: 21px;
    margin-top: 60px;
}
h4 {
    font-size: 18px;
    margin-top: 20px;
}
h5 {
    font-size: 16px;
    margin-top: 20px;
}

/* PARAGRAPHS ----------------------------------------------------------------*/
p {
    margin-bottom: 18px;
    margin-top: 12px;
    padding: 0;
    font-size: 93%;
    line-height: 24px;
}

/* LINKS ---------------------------------------------------------------------*/
a:link {
    color: #888888;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #0099EE;
}
a:active {
    text-decoration: none
    color: #00BBFF;
}
a:visited {
    color: #888888;
}

/* LISTS ---------------------------------------------------------------------*/
ul, ol {
    padding: 0;
    margin: 40px;
    margin-top: 0px;
}
ul, ol {
    padding: 0;
    font-size: 93%;
    line-height: 24px;
}

/* CODE, BLOCKQUOTES, RULES --------------------------------------------------*/
code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    line-height: 1;
    font-size: 13px;
}
pre {
  padding:8px 15px;
  background: #EEEEEE;  
  border-radius:5px;
  overflow-x: auto;
}

blockquote {
    border-left:.5em solid #4A525A;
    padding: 0 2em;
    margin-left:0;
    max-width: 476px;
    color: #111111
}
hr { /* Horizontal rule */
    text-align: left;
    margin: 0 auto 0;
    color: #ccc;
}


/* MY STYLES -----------------------------------------------------------------*/
.sideinfo {
    font-family: Lato, "Helvetica Neue", Helvetica, sans-serif; 
    margin-top: 5px;
    font-size: 16px;
    line-height: 1.2;
    padding-left: 25px;
}
.navigation {
    font-family: Lato, "Helvetica Neue", Helvetica, sans-serif; 
    margin-top: 25px;
    line-height: 1.75;
    padding-left: 25px;
}
.navigation a:link {
    color: #0099EE;
    vertical-align: baseline;
    text-decoration: none;
}
.navigation a:hover {
    color: #0099EE;
    text-decoration: none;
}
.navigation a:active {
    color: #0099EE;
    text-decoration: none;
}
.navigation a:visited {
    color: #0099EE;
    text-decoration: none
}
.name {
    font-size: 32px;
    color: #4A525A;
    font-family: Lato, "Helvetica Neue", Helvetica, sans-serif; 
}
.name a:link {
    color: #4A525A;
    text-decoration: none;
}
.name a:hover {
    text-decoration: none;
    color: #4A525A;
}
.name a:active {
    text-decoration: none;
    color: #4A525A;
}
.name a:visited {
    color: #4A525A;
}
.footer {
    font-family: Lato, "Helvetica Neue", Helvetica, sans-serif; 
    font-size: 16px;
    color: #4A525A;
    line-height: 1.75;
    padding-left: 25px;
    padding-bottom: 25px;
}
.footer a:link {
    color: #4A525A;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: none;
    color: #0099EE;
}
.footer a:active {
    text-decoration: none;
    color: #4A525A;
}
.footer a:visited {
    color: #4A525A;
}
