<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>{{ .Site.Title }}{{ with .Title }} | {{ . }}{{ end }}</title>
    <meta name="description" content="Personal Website">
    <meta name="author" content="Michael Malick">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- Favicons -->
    <link rel="shortcut icon" href="/images/favicon.ico">

  </head>


  <!-- Main layout -->
  <body>

    <div class="container">
      <div class="layout">
        <aside>
          {{ partial "sidebar.html" . }}
        </aside>
        <main>
          {{ partial "topbar.html" . }}
          {{ block "main" . }}{{ end }}
        </main>
        <footer class="layout-footer">
          {{ partial "bottombar.html" . }}
        </footer>
      </div>
    </div>

  </body>
</html>
