<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs 
  ========================================================================== -->
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="Personal Website" content="">
  <meta name="Michael Malick" content="">


  <!-- Bing Webmaster 
  ========================================================================== -->
  <meta name="msvalidate.01" content="9C67991D450A7241BFAD52B41A520091" />


  <!-- Google Analytics
  ========================================================================== -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-42838600-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>


  <!-- Mobile Specific Metas
  ========================================================================== -->
  <meta name="viewport" content="width=device-width, 
    initial-scale=1, maximum-scale=1">


  <!-- CSS 
  ========================================================================== -->
  <link rel="stylesheet" href="/stylesheets/malick.css">
  <link rel="stylesheet" href="/stylesheets/skeleton.css">
  <link rel="stylesheet" href="/stylesheets/skeleton-layout.css">


  <!-- Favicons 
  ========================================================================== -->
  <link rel="shortcut icon" href="/images/favicon.ico">

</head>



<!-- Main Page Layout
============================================================================ -->
<body>

  <div class="container">

    <div class="sixteen columns">
      <h1 style="margin-top:40px"></h1>
    </div>

    <div class="five columns">
      {% include sidebar.html %}
    </div>

    <div class="ten columns">
      {% include topbar.html %}
      <hr/>
      {{ content }}
    </div>

    <div class="fifteen columns">
      <hr/>
      {% include bottombar.html %}
    </div>

  </div>

</body>
</html>
